

{% if challenge %}
<h1>Challenge: {{ challenge.name }} </h1>
<p> {{ challenge.desc }}</p>
<p> {{ challenge.difficulty }}</p>


{% if topics %}
<h2> Topics: </h2>
    <ul>
    {% for c, w in topics %}
    <li>{{w}}x {{c}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics are associated with this challenge.</p>
{% endif %}

<form action="submission/" method="post">
    {% csrf_token %}
    <label for="your_solution">Your Solution: </label>
    <input id="your_solution" type="text" name="your_solution" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

{% else %}
    <p>No such challenge.</p>
{% endif %}