<html>
    <head>
        <title>Duc and Mo's Ultra Interview Automator 3000</title>
    </head>

    <body>
        <h1 >HOME PAGE</h1>
        <table>
            <tr>
                <td><a href="/accounts/login/">LOGIN</a></td>
            </tr>

            <tr>
                <td> <a href="/register/">REGISTER</a> </td>
            </tr>

            <tr>
                <td> <a href="/challenge/">CHALLENGES</a> </td>
            </tr>

            <tr>
                <td> <a href="/user/">USERS</a> </td>
            </tr>

            <tr>
                <td> <a href="/accounts/logout/">LOGOUT</a> </td>
            </tr>
        </table>     
    </body>
</html>




