<html>
    <head>
        <title>Duc and Mo's Ultra Interview Automator 3000</title>
    </head>

    <body>
        <h1 >HOME PAGE</h1>
        {% if user.id != None %}
            <p> hello {{user.username}} </p>
        {% else %}
            <p> You are not logged in</p>
        {% endif %}
        <table>
            {% if user.id == None %}
                <tr>
                    <td><a href="/accounts/login/">LOGIN</a></td>
                </tr>
                <tr>
                        <td> <a href="/register/">REGISTER</a> </td>
                </tr>
            {% else %}
                <tr>
                    <td> <a href="/user/me/">YOUR PROFILE</a> </td>
                </tr>
            {% endif %}

            <tr>
                <td> <a href="/challenge/">CHALLENGES</a> </td>
            </tr>

            <tr>
                <td> <a href="/user/">USERS</a> </td>
            </tr>

            <tr>
                <td> <a href="/job/">JOBS</a> </td>
            </tr>

            {% if user.id != None %}
                <tr>
                    <td> <a href="/accounts/logout/">LOGOUT</a> </td>
                </tr>
            {% endif %}
        </table>     
    </body>
</html>




